<?xml version="1.0" encoding="utf-8" ?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Created by Ante Drnasin - http://www.drnasin.com                              ~
  ~ Copyright (c) 2017. All rights reserved.                                      ~
  ~                                                                               ~
  ~ Project Name: Session Save Handler                                            ~
  ~ Repository: https://github.com/drnasin/mysql-pdo-secure-session-handler       ~
  ~                                                                               ~
  ~ File: phpunit.xml                                                             ~
  ~ Last Modified: 19.5.2017 22:57                                                ~
  ~                                                                               ~
  ~ The MIT License                                                               ~
  ~                                                                               ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy  ~
  ~ of this software and associated documentation files (the "Software"), to deal ~
  ~ in the Software without restriction, including without limitation the rights  ~
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell     ~
  ~ copies of the Software, and to permit persons to whom the Software is         ~
  ~ furnished to do so, subject to the following conditions:                      ~
  ~                                                                               ~
  ~ The above copyright notice and this permission notice shall be included in    ~
  ~ all copies or substantial portions of the Software.                           ~
  ~                                                                               ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR    ~
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,      ~
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE   ~
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER        ~
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, ~
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN     ~
  ~ THE SOFTWARE.                                                                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<phpunit colors="true" strict="true" bootstrap="../vendor/autoload.php" beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="Secure Session Handler tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/coverage" title="PHPUnit" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <php>
        <var name="DB_DSN" value="mysql:host=%s;dbname=%s;port=%d;charset=%s"/>
        <var name="DB_HOST" value="localhost"/>
        <var name="DB_PORT" value="3306"/>
        <var name="DB_USER" value="root"/>
        <var name="DB_PASS" value=""/>
        <var name="DB_NAME" value="sessions"/>
        <var name="DB_TABLENAME" value="sessions"/>
        <var name="DB_CHARSET" value="utf8"/>
    </php>
</phpunit>